// Global styling for this template
body {
  overflow-x: hidden;
  @include body-font;
}

p {
  line-height: 1.75;
}

a {
  color: $primary;

  &:hover {
    color: darken($primary, 10%);
  }
}

.text-primary {
  color: $primary !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 300;
  // @include heading-font;
}

.add-zindex-2 {
  z-index: 2;
}

.add-zindex-1 {
  z-index: 1 !important;
}

.page-section {

  height: 80vh;
  padding: 100px 0;

  video {
    position: relative;
    object-fit: initial;
        width: 100%;
    // @media (max-width: 992px) {
    //   width: 100%;
    // }
  }

  .container {
    height: 100%;
    @media (max-width: 992px) {
      max-width: 100%;
    }
  }

  .remove-margins {
    margin: 0;
    max-width: 100%;
  }

  // overflow: hidden;
  &.add-vheight {
    height: 75vh;
    position: relative;
    overflow: hidden;

    @media(max-width:992px) {
      height: 100%;
    }
  }

  .row {
    display: flex;
    align-items: center;
    height: 100%;

    @media(max-width:992px) {
      flex-direction: column-reverse;
    }

    .col-sm-6,
    .col-sm-5,
    .col-sm-7 {
      @media(max-width:992px) {
        max-width: 100% !important;
      }
    }
  }

  &.bg-dark {
    background-color: #000 !important;
    color: #fff;
    .rr-logo-fill {
      fill: rgba(240, 240, 240, .2);
    }
    .rr-logo-circle {
      stroke: rgba(240, 240, 240, .2);
    }
  }

  h2.section-heading {
    font-weight: 400;
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 20px;
  }

  h3.section-subheading {
    font-size: 16px;
    font-weight: 400;
    // font-style: italic;
    margin-bottom: 5px;
    text-transform: none;

    // @include serif-font;
    @media (max-width: 992px) {
      margin-top: 20px;
    }
  }

  &.remove-top-padding {
    padding: 0 !important;
  }

  @media(max-width:992px) {
    padding: 50px 0;
    height: inherit;

  }


}

@media (min-width: 768px) {
  section {
    padding: 150px 0;
  }
}

// Button Styles
.btn {
  // @include heading-font;
  font-weight: 700;
}

.btn-xl {
  font-size: 18px;
  padding: 20px 40px;
}

.btn-primary {
  background-color: $primary;
  border-color: $primary;

  &:active,
  &:focus,
  &:hover {
    background-color: darken($primary, 7.5%) !important;
    border-color: darken($primary, 7.5%) !important;
    color: white;
  }

  &:active,
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(254, 209, 55, 0.5) !important;
  }
}

// Highlight color customization
::-moz-selection {
  background: $primary;
  text-shadow: none;
}

::selection {
  background: $primary;
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img::-moz-selection {
  background: transparent;
}

// .rr-logo {
//   position: absolute;
//   width: 647px;
//   z-index: -1;
//   left: -181px;

//   #rr-logo {
//     fill: none;
//     stroke: #c4c4c4;
//   }

//   .cls-1 {
//     fill: none;
//     stroke: #c4c4c4;
//     stroke-miterlimit: 10;
//     stroke-width: 15px;
//   }

// }

.rr-logo-svg {
  position: absolute;
  width: 550px;
  z-index: 0;
  left: -181px;
  @media (max-width: 768px) {
    width: 300px;
    margin-top: 353px;
    left: -100px;
  }
}

.rr-logo-circle {
  fill: none;
  stroke:rgba(240, 240, 240, .5);
  stroke-miterlimit: 10;
  stroke-width: 15px;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;

}

.rr-logo-fill {
  fill:rgba(240, 240, 240, .5);
  stroke-linejoin:round;
  stroke-linecap:round;
  stroke-width:1;
  stroke-miterlimit: 10;
  stroke-dasharray: 0;
  stroke-dashoffset: 0;
}